@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Julius+Sans+One&family=Open+Sans:wght@300&family=Rubik+Vinyl&family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

#root {
    max-width: 960px;
    margin: 0 auto;
} 


body {
    font-family: 'Poppins';
    background-color: #cdb8b4;
    color: #1d1514;
    text-align: center;


  }

  h1, h2 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
  }



  a {
    text-decoration: none;
    color: #1d1514;
    margin: 1rem;
  }

  a.nav-link.active{
    color: #e74c3c;;
  }

.todolist {
    display: flex;
    flex-direction: column;

}

.btn {

    background-color: #e74c3c;
    margin-top: 1rem;
    font-weight: bold;
    
  }